.App {
  text-align: center;
  background-color: #1B1B1B;
  height:36rem;
 
}

*{
  font-family: 'Open Sans', sans-serif;

}


.SearchRes{
  background-color: white;
  text-align: left;
  margin-top: 4rem ;
  margin-left:8rem;
}

@media (max-width:1000px){
.App{
  height:58rem
}
}





