.card{
background-color: #ffffff;
height:18rem;
border-radius: 20px;
box-shadow:0 0 5px 0 rgba(0,0,0,0.25);
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
margin-bottom:0.5rem;
margin-top: 0.5rem;
margin-left: 0.2rem;
width:18rem;
margin-right: 0.2rem;
z-index: 100;
overflow: hidden;
text-overflow: ellipsis;

}


.card:hover .cardImage{
    cursor: pointer;
    filter: brightness(70%);

}



.likes:hover{
opacity: 1;

}

@keyframes liked {
    0% {color: black; height:1rem; width:1rem}
    50%{height:1.2rem;width:1.2rem}
    100% {color: red;height:1rem; width:1rem}
  }



.liked{

    animation-name: liked;
    animation-duration: 0.5s;
    color:red;
}

.categorie_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card_categories{
    display: flex;
    flex-direction: row;
    width:18rem;
}

.cat{
height:2rem;
width:6rem;
border-radius: 10px;
color:#4296B0;
border-width:1px;
box-shadow:0 0 2px 0 rgba(0,0,0,0.25);
border: none;
background-color: white;
font-weight: bold;
padding: 3px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
transition: 200ms ease-in;
margin-left:0.5rem;
font-size: 10px;;
    
}

.postAuthor{
    width:10rem;
    font-size: small;
    position: relative;
bottom:1rem;
}

.cat:hover{
    
   opacity:0.7;

}



.card h4{
    margin-left: 1rem;

}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    width:100%;
    
}

.cardImage{
    height:9rem;
    width:18rem;
    border-top-right-radius:20px ;
    border-top-left-radius:20px ;
    filter: brightness(50%);
}

.likes{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    border-radius: 20px;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.25);
    height:2rem;
    width: 3.3rem;
    position:absolute;
    top:1rem;
    background-color: white;
    opacity: 0.6;
    margin-left: 0.3rem;


}

.likes h6{
    font-size: 10px;
    font-weight: 400;
}





.link{
    text-decoration: none;
    color:black;
}

.card p:hover{
    opacity: 0.8;
}

.propTitle{
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 900;
    text-align: left;
    width:18rem;
}

.propAnswer{
    text-overflow: ellipsis;
    font-size: 16px;
    margin-top: -2rem;

}

.authorCont{
    display: flex;
    flex-direction:column ;
    align-items: left;
    justify-content: center;
    margin-left:1rem
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0rem;
    width: 12rem;
top:1rem;
}

.pic{
    height:2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.25);

}







