.Categories{
background-color: #fafafa;
height:6rem;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
overflow: scroll;



}

.categorie_heading{
  color:rgb(21,191,222);
}

.categories_Container{
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.Categories.is-visible{
  opacity: 1;
  transform: none;
  visibility: visible;
}



.catBut:hover{
  opacity: 0.5;

}

.Categories::-webkit-scrollbar {
    display: none;
  }

  
.catBut{
    height:3rem;
    width:7rem;
    border-radius: 10px;
    color:rgb(202,78,182);
    border-width:1px;
    box-shadow:0 0 4px 0 rgba(0,0,0,0.25);
    border: none;
    background-color: white;
    font-weight: bold;
    padding: 3px;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 1rem;
    transition: 200ms ease-in;

}
    
@media (max-width:1000px){
  .Categories{
    height:10rem;
    width:100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
  }

  .catBut{
    width:6rem;
    height:3rem;
    font-size:10px;
    
  }

  

  
}

@media (max-width:800px){
  .Categories{
   display: grid;
   grid-template-columns:auto auto auto auto;
width: 100%;  
justify-content: center;

}

  .catBut{
    width:6rem;
    height:3rem;
    font-size:10px;
  
    
  }

  

  





  .catBut{
    width:6rem;
    height:3rem;
    font-size:10px;
  
    
  }

  

  
}