.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 6rem;
    border-color:  #4296B0;
    border-width: 30px;
    z-index:120;
    width:100%;
    transition: 0.8s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow:0 0 4px 0 rgba(0,0,0,0.20);
    top:0;


}



.sharbtn:hover{
    opacity:0.7;
}

.websiteName{
    margin-left:7rem;
    color: white;
    z-index:200;

}

.homebtn{
    text-decoration: none;
    z-index:200;
}




.Header h3:nth-child(1){
    cursor: pointer;
    z-index:200;

}
.regularText3{
    color:#5BBBCE;
}


.homebtn{
    color: #5BBBCE;
    margin-left: 7rem;
    
}


.Links{
    color: white;
    display: flex;
    z-index:200;
    cursor: pointer;
    animation-name: fadein1;
    animation-duration: 1s;


}



.hide{
    display: none;
    z-index:200;

}

.header_searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation-name: fadein;
    animation-duration: 1s;
}

.header_searchbar input{
border-radius: 20px;
outline: none;
border:none;
box-shadow:0 0 4px 0 rgba(0,0,0,0.20);
height:3rem;
width:30rem;
padding-left:1rem;
}

.header_searchbar button{
    height: 3rem;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 5rem;
    background-color: rgb(202,78,182);
    opacity: 1;
    color: white;
    z-index:100;
    box-shadow:0 0 4px 0 rgba(0,0,0,0.20);
    transition: 0.5s;
    margin-left:-3rem
}

.header_searchbar button:hover{
    opacity: 0.8;
}


.leave{
    animation-name: fadeout;
    animation-duration: 1s;
}
@keyframes fadein{
    from{opacity: 1;}
    to{opacity: 0;margin-bottom: 2rem;}

}


@keyframes fadein{
    from{opacity: 0;margin-bottom: 2rem;}
    to{opacity: 1;}

}


@keyframes fadein1{
    from{opacity: 0;margin-bottom: 2rem;}
    to{opacity: 1;}

}


.Links{
    
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    z-index:200;


}

.Links h3{
    color:    #5BBBCE;

}


.regularText2{
    font-weight:bold;
    cursor: pointer;
    z-index:200;
    color:#5BBBCE;
}
.regularText3{
    margin-left:7rem;
    font-weight:bold;
    cursor: pointer;
    z-index:200;
    color:#E59A52;

}

.Links h3:hover{
    opacity: 0.8;
    z-index:200;

}


.Links h3:nth-child(2){
    margin-left: 4rem;
    z-index:200;

}
.Links h3:nth-child(3){
    margin-left: 4rem;
    z-index:200;

}

.regularText{
    color:#4296B0 ;

}

.buttons{
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    align-items: center;
    justify-content: space-between;
     z-index:200;

}

.buttons button{
    margin:0.3rem;
    height: 3rem;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    width:6rem;
    box-shadow:0 0 4px 0 rgba(0,0,0,0.25);

    transition:1s;
}

.signinbtn{
    background-color: white;
}

.sharebtn{
    background-color: rgb(202,78,182);
    color:white;
    font-weight: bold;
    box-shadow:0 0 10px 0 rgba(0,0,0,0.25);



}



.scrollButton button{
    box-shadow:0 0 4px 0 rgba(0,0,0,0.20);

}

.apr{
    animation-name: smootha;
    animation-duration: 2s;
}

@keyframes smootha{
    from{opacity: 0;}
    to{opacity:1}
}

.profilePicture{
    border-radius: 50%;
    height:2rem;
    width:2rem;
    padding: 1px;
    box-shadow:0 0 4px 0 rgba(0,0,0,0.20);

   
    
}

.modifiedLink{
    text-decoration: none;
    color:black;
}

.move{
    animation-name: hide;
 opacity: 0;
 animation-duration: 0.4s;
}

@keyframes hide{
    from{opacity: 1;}
    to{opacity:0}
}



.profilePicturedrp{
    border-radius: 50%;
    height:3rem;
    width:3rem;
    padding: 1px;
    border:1px solid #4296B0;

}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius:20px;
    box-shadow:0 0 4px 0 rgba(0,0,0,0.20);

    width:8rem;
    margin-left: 1.5rem;
    height: 3rem;
    transition: 0.8s;
    color:#4296B0;
}

.scrollProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(238,236,234);
    border-radius:20px;
    width:8rem;
    margin-left: 1.5rem;
    height: 3rem;
    color: #E59A52;
    box-shadow:0 0 4px 0 rgba(0,0,0,0.20);
    font-size: 12px;
}

.menu{
    position: absolute;
    top:80px;
    right:20px;
    background-color: rgb(238,236,234);
    border-radius: 20px;
    padding:10px 20px;
    width:200px;
    animation-name: appear;
    animation-duration: 0.8s;
    display: flex;
    flex-direction: column;
    box-shadow:0 0 4px 0 rgba(0,0,0,0.20);

}

.icons{
    width:25px;
    height:25px;
    margin-right: 0px;
    opacity: 0.5;
    transition: 0.5s;
    
}

.menu-item{
    display: flex;
    margin: 10px auto;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid rgba(0,0,0,0.05);
    width:100%;
    padding-top: 20px;
    height:0.5rem;
    margin-left:30px;
}

.last{
    margin-bottom: 2rem;
}

.last:hover .logout{
    color: rgb(212, 33, 9);
}

.last:hover .lastIcon{
    color: rgb(212, 33, 9);
}


.hide{
    display: none;
}

.close{
    animation-name: appears;
    animation-duration:1s ;
    position: absolute;
    font-size: 18px;
    top:30px;
    opacity: 0.8;

}

@keyframes appears{
    from{opacity:0}
    to{opacity:0.8}
}

.menu-item:hover .icons{
    opacity:1;
    color: #428cff;
}

.menu-item:hover  a{
color:#428cff
}

.heading h5{
    margin-top: 0.5rem;
    color: #4296B0;
}



.menu-item a{
    max-width: 100px;
    margin-left:10px;
    transition: 0.5s;
    margin-left:10px;
    
}

 @keyframes appear {
    from{opacity: 0; width:180px; top:60px}
    to{opacity:1;width:200px; top:80px}
}

.menu::before{
    content:"";
    position: absolute;
    top:-5px;
    right:20px;
    height:20px;
    width:20px;
    background-color: rgb(238,236,234);
    transform: rotate(45deg);

}

 ul{
list-style-type: none;
}

.profile:hover{
    opacity: 0.8;
    cursor: pointer;
    user-select: none;
}

.profile p{
    font-size: 12px;
}



.buttons button:hover{
  opacity: 0.8;
}




.hamburger_container{
    display: none;
}

.Burger{
    width:2rem;
    height:0.25rem;
    border-radius: 10px;
    background-color: white;
    transform-origin: 1px;
    transition: all 0.3s linear;
}


    .Hamburger{
        width:2rem;
        height:2rem;
        display: flex;
        justify-content: space-around;
        flex-flow:column nowrap ;
        z-index: 20;
        margin-right: 3rem;
    
    }

    .responsive{
        display: none;
    }
   


    @media (max-width:1000px){
        .hamburger_container{
            display: block;
        }

        .Links{
            display: none;
        }

        .buttons{
            display: none;
        }
        .responsive{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    
        .Menu_Links{
        background-color: blue;
        display: flex;
        flex-flow: column nowrap;
        position: fixed;
        top:0;
        right: 0;
        height:100vh;
        width:150px;
        padding-top: 3.5rem;
        align-items: left;
        text-align: center;
        }


.Menu_Links h3{
    margin-left: 2rem;
}
        .Menu_Links button{
    height: 3rem;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    width:5rem;
    background-color: #428cff;
    color: white;
    padding: 0;
    margin: 1rem;
    margin-left:3rem;

        }

        .close_icon{
            color: white;
            position:relative ;
            bottom:2rem;
            left:1rem;
            
        }

      
    }


    .dropDownheading{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }